BASE_URL=http://localhost:8080
MONGODB_URI=mongodb+srv://user:454943484@cluster0-nfpde.mongodb.net/finalized?retryWrites=true&w=majority
MONGODB_TEST_URI=mongodb+srv://user:454943484@cluster0-nfpde.mongodb.net/test?retryWrites=true&w=majority
GOOGLE_REDIRECT_URL=http://localhost:8080/user/google-calendar
SESSION_SECRET=Your Session Secret goes here
SEED_GROUP_USER_SIZE=10
SEED_EVENT_USER_SIZE=10
LOGGER_MESSAGE_LEVEL=debug
