lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Optional npm cache directory
.npm

.nyc_output/*

# API keys and secrets
.env
# Dependency directory
node_modules
# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Recycle Bin used on file shares
$RECYCLE.BIN/


# jsdoc files
docs/

Study_Buddy_Android/app/build
Study_Buddy_Android/.gradle
Study_Buddy_Android/local.properties
Study_Buddy_Android/.idea/workspace.xml
Study_Buddy_Android/.idea/libraries
Study_Buddy_Android/.DS_Store
Study_Buddy_Android/captures
