<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 800px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>
</head>
<body>
<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>
<% var lat = lat%>
<% var lon = lon%>
<script>

  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    console.log(<%= lat  %>)
    const lat = Array(<%= lat  %>);
    const lon = Array(<%= lon  %>);
    var i = 0;
    const coordinateList = Array(lat.length);
    for (; i < lat.length; i ++) {
        coordinateList.push({
          lat: lat[i],
          lng: lon[i]
        })
    }
    var uluru = {lat: lat[0], lng: lon[0]};
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
    // The marker, positioned at Uluru
      coordinateList.forEach(coordinate => {
      console.log(coordinate);
      var marker = new google.maps.Marker({position: coordinate, map: map});
    })
    // var marker = new google.maps.Marker({position: uluru, map: map});
    // marker = new google.maps.Marker({position: test, map: map});
  }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkmAwQe2cQD8_vnW5INMVjrGcc32yvwkw&callback=initMap">
</script>
</body>
</html>
